.loworderfee-title{
    display:block;
    position:relative;
    cursor: pointer;
}
.loworderfee-title::after {
    border-style: solid;
    border-width: 1px 1px 0px 0px;
    content: '';
    display: inline-block;
    height: 6px;
    right: -10px;
    position: absolute;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 6px;
    top: 4px;
    transform: rotate(135deg);
}

tr.loworderfee.expanded .loworderfee-title::after{
    border-width: 0px 0px 1px 1px;
    top: 6px;
}


.loworderfee-description{
    display:none;
    padding-left: 4px;
    background: #ffffff;
    border: dashed 1px #ccc;
}

.loworderfee-description.shown{
    display: table-row;
}